<nav
      class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top"
    >
      &nbsp;&nbsp;
      <button
        class="btn btn-link btn-sm text-secondary order-1 order-sm-0"
        id="sidebarToggle"
      >
        <i class="fas fa-bars"></i>
      </button>
      &nbsp;&nbsp;
      <a class="navbar-brand mr-1" href="/"
        ><img style="width:100px;" class="img-fluid" alt="" src="img/logo.png"
      /></a>

      <form
        class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search"
      >
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." />
          <div class="input-group-append">
            <button class="btn btn-light" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
        
      <% if (isLogged == 1){ %>
        <!-- <li class="nav-item mx-1">
          <a class="nav-link" href="/live">
            <i class="fas fa-fw fa-video"></i>
            Start live
          </a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="/upload">
            <i class="fas fa-plus-circle fa-fw"></i>
            Upload Video
          </a>
        </li> -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="alertsDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="alertsDropdown"
          >
            <a class="dropdown-item" href="#"
              ><i class="fas fa-fw fa-edit"></i> &nbsp; Action</a
            >
            <a class="dropdown-item" href="#"
              ><i class="fas fa-fw fa-headphones-alt"></i> &nbsp; Another
              action</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-fw fa-star"></i> &nbsp; Something else here</a
            >
          </div>
        </li>
        <li class="nav-item dropdown no-arrow osahan-right-navbar-user">
          <a
            class="nav-link dropdown-toggle user-dropdown-link"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img alt="Avatar" src="img/user.png" />
            <%= username %>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="userDropdown"
          >
            <!-- <a class="dropdown-item" href="/account"
              ><i class="fas fa-fw fa-user-circle"></i> &nbsp; My Account</a
            > -->
            <!-- <a class="dropdown-item" href="subscriptions.html"
              ><i class="fas fa-fw fa-video"></i> &nbsp; Subscriptions</a
            <i class="fas fa-fw fa-video"></i>
            > -->
            <a class="dropdown-item" href="/settings"><i class="fas fa-fw fa-cog"></i> &nbsp; Settings</a>
            <a class="dropdown-item" href="/channels"><i class="fas fa-fw fa-user"></i> &nbsp; Channel</a>
            <a class="dropdown-item" href="#" ><i class="fas fa-fw fa-list-alt"></i> &nbsp; Dashboard</a>
            <a class="dropdown-item" href="/history"><i class="fas fa-fw fa-history"></i> &nbsp; History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"><i class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
          </div>
        </li>
      <%  }else{ %>
        <li class="nav-item mx-1">
          <a class="nav-link" href="/login">
            <i class="fas fa-fw fa-user-alt"></i>
            Login
          </a>
        </li>
      <%  } %>
        
      </ul>
    </nav>