<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Askbootstrap" />
    <meta name="author" content="Askbootstrap" />
    <title><%= title %></title>

    <link rel="icon" type="image/png" href="img/Ours/Favicon.png"> 

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link href="css/osahan.css" rel="stylesheet" />

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="64010463354-cvgedp6fl06ce0k1mbiodtc1c1r3ea5h.apps.googleusercontent.com">

    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>