<script
src="vendor/jquery/jquery.min.js"
></script>
<script
src="vendor/bootstrap/js/bootstrap.bundle.min.js"
></script>

<script
src="vendor/jquery-easing/jquery.easing.min.js"
></script>

<script
src="vendor/owl-carousel/owl.carousel.js"
></script>




<script
defer
src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
data-cf-beacon='{"rayId":"7171c0080ea4f917","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
crossorigin="anonymous"
></script>
<script
src="js/custom.js"
></script>
